---
layout: page
meta-title: "HÙNG VĨ TOURIST"
bigimg:
- "/img/Picture-HSL/japan-background.jpg"
- "/img/Picture-HSL/background-1.svg"
- "/img/Picture-HSL/background-2.svg"
- "/img/Picture-HSL/background-3.svg"
---

<!-- Layer 1 Ưu Đãi Đặc Biệt -->
{% include swiper-section.html
  group="tours"
  id="special-offer" 
  title="🔥Ưu Đãi Đặc Biệt🔥" 
  desc="
    🎉 Giảm giá sốc lên đến 30% cho tour hot nhất.<br>
    ✈️ Ưu đãi vé máy bay & khách sạn trọn gói.<br>
    🕒 Số lượng có hạn – chỉ áp dụng hôm nay!<br>
    👉 Đặt ngay để không bỏ lỡ cơ hội vàng!
  "
  category="special-offer"
  limit=99 
  bg="/img/Picture-HSL/hai-cay-dua-hoang-hon.svg"
%}


<!-- Layer 2 tour nước ngoài -->

{% include swiper-section.html
  group="tours"
  id="tours-international"
  title="Tour Du Lịch<br>✨Quốc Tế✨" 
  desc="     
  🌍 Trải nghiệm hành trình khám phá năm châu bốn bể.<br>
  ✈️ Tour trọn gói từ vé máy bay, khách sạn đến tham quan.<br>
  🗺️ Nhiều điểm đến hấp dẫn: Châu Á, Châu Âu, Mỹ, Úc…
  "
  category="tours#international"
  limit=99 
  bg="/img/Picture-HSL/background-2.svg"
%}


<!-- Layer 2 tour trong nước -->

{% include swiper-section.html
  id="tours-domestic" 
  group="tours"
  title="Tour Du Lịch<br>✨Trong Nước✨" 
  desc="
  🌍 Trải nghiệm hành trình khám phá Việt Nam.<br>
  ✈️ Tour trọn gói từ vé máy bay, khách sạn đến tham quan.<br>
  🗺️ Nhiều điểm đến hấp dẫn: Hà Nội, Đà Nẵng, TP.HCM…
  "
  category="tours#domestic"
  limit=99 
  bg="/img/Picture-HSL/phong-canh-xanh.svg"
%}


<!-- Layer 3 visa hộ chiếu -->

{% include swiper-section.html
  group="visa"
  id="visa" 
  title="Visa Du Lịch<br>✨Công Tác | Du Học✨" 
  desc="
  🌍 Trải nghiệm hành trình khám phá Việt Nam.<br>
  ✈️ Tour trọn gói từ vé máy bay, khách sạn đến tham quan.<br>
  🗺️ Nhiều điểm đến hấp dẫn: Hà Nội, Đà Nẵng, TP.HCM…
  "
  category="visa#travel,visa#business,visa#study,visa#other"
  limit=99 
  bg="/img/Picture-HSL/background-taiwan.jpg"
%}

<!-- Layer 3 visa hộ chiếu -->

{% include swiper-section.html
  id="flights" 
  group="flights"
  title="✨Vé Máy Bay✨" 
  desc="
  🌍 Trải nghiệm hành trình khám phá Việt Nam.<br>
  ✈️ Tour trọn gói từ vé máy bay, khách sạn đến tham quan.<br>
  🗺️ Nhiều điểm đến hấp dẫn: Hà Nội, Đà Nẵng, TP.HCM…
  "
  category="flights#booking,flights#domestic,flights#international"
  limit=99 
  bg="/img/Picture-HSL/eva-darron-oCdVtGFeDC0-unsplash.jpg"
%}

<!-- Layer 4 -->

<div class="gradient-bg">
  <div class="gradient-text">
    <P>được cung cấp dịch vụ bởi</P><h2>✨HÙNG VĨ TOURIST✨</h2>
    <br>
    <div class="text-center">
      <a target="_blank" rel="noopener" href="/" class="project-link" title="✨HÙNG VĨ TOURIST✨">
        <img src="{{ site.baseurl }}/img/Picture-HSL/logo-trans.png" class="img-rounded" loading="lazy" alt="✨HÙNG VĨ TOURIST✨" width="30%" />
      </a>
    </div>
  </div>
</div>

<!-- {% include form-booking.html %} -->

