<link rel="stylesheet" href="/argb-hsl/assets/js/styles.css">

<!-- Modal to display full-size image -->
<div id="imageModal" class="modal" onclick="closeModal()">
  <span class="close">&times;</span>
  <img class="modal-content" id="modalImage">
</div>

<script>
  function openModal(src) {
    document.getElementById('imageModal').style.display = "block";
    document.getElementById('modalImage').src = src;
  }

  function closeModal() {
    document.getElementById('imageModal').style.display = "none";
  }

  // Thêm event listener để bắt phím ESC
  document.addEventListener("keydown", function(event) {
    if (event.key === "Escape") {
      closeModal();
    }
  });

</script>
