<!-- Search -->
<div class="search-page">
  <!-- Data header  -->
  <div class="text-center">
    <h2 class="search-header">{{ site.author.name }}</h2>
    <p class="search-subtitle">Tìm kiếm tour, cẩm nang du lịch ...</p>
  </div>
  <!-- Nút close tìm kiếm  -->
  <div class="search-icon-close-container">
    <span class="search-icon-close">
      <i class="fa-solid fa-chevron-down"></i>
    </span>
  </div>
  <!-- Input text  -->
  <div class="search-main container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <!-- Input text -->
        <!-- <h3 class="search-title">Tìm kiếm tour, cẩm nang du lịch ...</h3> -->
        <form id="search-form" onsubmit="return false;">
          <!-- <label for="search-input" class="sr-only">Tìm kiếm tour, cẩm nang du lịch ...</label> -->
          <input type="text" id="search-input" placeholder="🔎 Tìm kiếm ..." class="form-control" autocomplete="off" />
        </form>
        <div id="search-results" class="mini-post-list"></div>
      </div>
    </div>
  </div>
</div>